Brotli==1.0.9
cap-from-youtube==0.0.10
certifi==2023.7.22
colorama==0.4.6
mutagen==1.46.0
numpy==1.25.2
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
packaging==23.1
Pillow==10.0.0
pycryptodomex==3.18.0
pytesseract==0.3.10
tqdm==4.66.1
websockets==11.0.3
yt-dlp==2023.11.14
